<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    <script src="https:cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/CSS/style.css">
    
    

</head>
<body>
    <div class="w-full h-screen bg-zinc-900 flex items-center justify-center">
        <div class="chessboard w-96 h-96 bg-red-400 "></div>
    </div>
    <div id="gameOverModal" >
        <div id="gameOverMessage" style="font-size: 24px; margin-bottom: 20px;"></div>
        <button onclick="window.location.reload();" class="bg-blue-500 text-white px-4 py-2 rounded">Play Again</button>
    </div>







    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/js/chessgame.js"></script>
    
</body>
</html>