#gameOverModal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    z-index: 1000;
}

#gameOverMessage {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  width: 400px;
  height: 400px;
  transform: rotate(0deg);
}


.piece.white {
  color: white;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

.piece.black {
  color: black;
}

.flipped {
  transform: rotate(180deg);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.light {
  background-color: #f0d9b5;
}

.square.dark {
  background-color: #b58863;
}

.piece {
  font-size: 36px;
  cursor: pointer;
}

.piece.draggable {
  cursor: grab;
}

.dragging {
  opacity: 0.5;
}

/* Rotate pieces for black player */
.flipped .piece {
  transform: rotate(180deg);
}
